<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @receipt.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @receipt.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @receipt.email %>
</p>

<p>
  <strong>Pay type:</strong>
  <%= @receipt.pay_type %>
</p>

<%= link_to 'Edit', edit_receipt_path(@receipt) %> |
<%= link_to 'Back', receipts_path %>
